<%  layout('layouts/boilerplate')  %>
<div class="container d-flex justify-content-center align-items-center mt-10">
    <div class="col-md-4">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
    
                    <form action="/register" method="POST" novalidate class="validated-form">
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                        </div>
                        <button class="btn btn-success">Register</button>
                    </form>
                </div>
            </div>
    </div>
</div>